body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Tajawal', sans-serif;
}
code {
  font-family: 'Tajawal', sans-serif;
}
:root {
  --main-color: #de8b74;
}
a {
  text-decoration: none !important;
}
.list-none {
  list-style: none !important;
}
.pt-0 {
  padding-top: 0 !important;
}